body {
  margin: 0;
  background-color: #fff;
  color: #000;
  line-height: 1.5;
}

.NavLink {
  font-size: 20px;
  color: currentColor;
}

.NavLink__active {
  color: chartreuse;
}

ul {
  list-style: none;
}

li {
  margin-right: 30px;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.Header {
    display: flex;
    justify-content: space-between;
}

.Navigation {
    display: flex;
}

.AutNav {
    display: flex;
}

.Container {
  display: flex;
  align-items: center;
}

.Form {
  width: 320px;
  justify-content: center;
  margin: 0 auto;
}

label {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  margin-bottom: 15px;
}

/* button {
  display: block;
  margin: 0 auto;
text-align: center;
} */